@{
    ViewData["Title"] = "First page";
    
}
<div class="mrconfirst">
    <div class="d-grid gap-4 mrccon">
        <a class="tdn" asp-area="" asp-controller="ReqForm" asp-action="SubmitReq" class="" id="btn1">Submit a Request</a>
        <a asp-area="" asp-controller="Home" asp-action="Index" class=" tdn" id="btn2">Registered Patient</a>
    </div>
    <div></div>
</div>