@{
    ViewData["Title"] = "Home Page";
}
<div class="back">

    <a class="tdn cp backbtn" asp-asp-area="" asp-asp-controller="Home" asp-action="first">
        <img class="bimg" src="/images/up-arrow-svgrepo-com.svg" alt=""><span class="ntext">back</span>
    </a>

</div>
<div class="mrcon">
    <div class="mrhead" id="mrhead">Login To Your Account</div>
    <form class="mrcform">
        <div class="form-floating mb-3">
            <input type="email" class="form-control mrcfin" id="floatingInput"
                   placeholder="name@example.com">
            <label class="inlab" for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control mrcpass" id="floatingPassword"
                   placeholder="Password">
            <label class="inlab" for="floatingPassword">Password</label>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary mb-3 loginbtn" type="button">Login</button>
        </div>
    </form>
    <a class="forpw ntext cp" asp-area="" asp-controller="Home" asp-action="Privacy">Forgot Password?</a>
</div>