<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/ADashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ReqForm.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pDashboard.css" asp-append-version="true" />

</head>
<body>

    <nav class="rnav">
        <button class="hambtn" onclick="hambtn()">
            <img class="w-75 h-75" src="~/images/hamburger-svgrepo-com.svg" />
        </button>

        <a asp-area="" asp-controller="Home" asp-action="first" class="nlogo tdn"><img class="nlimg" src="/images/halloDoc img.png" alt=""></a>
        <div class="navchild">
            <div class="navwelcome">Hello Welcome @ViewBag.username</div>
            <a asp-area="" asp-controller="pDashboard" asp-action="logout" class="logout loglg tdn">Logout</a>
            <a asp-area="" asp-controller="pDashboard" asp-action="logout" class="logout logsm tdn">
                <img class="smimg" src="/images/logout-svgrepo1-com.svg" alt="">
            </a>
            <button class="moonbtn" id="moonbtn" onclick="darkfunction()">
                <img class="moon cp" src="/images/nightmode-svgrepo-com (2).svg" alt="">
            </button>
        </div>
    </nav>
    <div>
        @RenderBody()
    
    </div>
    <footer class="myfooter">
        <span class="fele">Terms & Condition | Privacy Policy</span>
    </footer>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
