<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="~/css/ADashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ReqForm.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pDashboard.css" asp-append-version="true" />
    

</head>
<body>

    <nav class="rnav">
        <button class="hambtn" onclick="hambtn()">
            <img class="w-75 h-75" src="~/images/hamburger-svgrepo-com.svg" />
        </button>

        <a asp-area="" asp-controller="Home" asp-action="first" class="nlogo tdn"><img class="nlimg" src="/images/halloDoc img.png" alt=""></a>
        <div class="navchild">
            <div class="navwelcome">Hello Welcome @ViewBag.username</div>
            <a asp-area="" asp-controller="pDashboard" asp-action="logout" class="logout loglg tdn">Logout</a>
            <a asp-area="" asp-controller="pDashboard" asp-action="logout" class="logout logsm tdn">
                <img class="smimg" src="/images/logout-svgrepo1-com.svg" alt="">
            </a>
            <button class="moonbtn" id="moonbtn" onclick="darkfunction()">
                <img class="moon cp" src="/images/nightmode-svgrepo-com (2).svg" alt="">
            </button>
        </div>
    </nav>
    <div>
        @RenderBody()

    </div>
    <footer class="myfooter">
        <span class="fele">Terms & Condition | Privacy Policy</span>
    </footer>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>



    @*<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>*@
    @* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script> *@

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>


        function hambtn() {
            var x = document.querySelector(".dashsidebar")
            x.classList.toggle("hideside");
            console.log("hiden");
        }
        $('#txtSearch').keyup(function () {
            var typeValue = $(this).val().trim();
            $('tbody tr').each(function () {
                if ($(this).text().search(new RegExp(typeValue, "i")) < 0) {
                    $(this).fadeOut();
                } else {
                    $(this).fadeIn();
                }
            });
        });

        $('#txtSearch').keyup(function () {
            var typeValue = $(this).val().trim();
            $('.accordion-item').each(function () {
                if ($(this).text().search(new RegExp(typeValue, "i")) < 0) {
                    $(this).fadeOut();
                } else {
                    $(this).fadeIn();
                }
            });
        });




        $('#ACregiondrop').change(function () {
            console.log("new");
            var selectedRegionId = $(this).val(); // Get the selected region ID

            $('.ACRoption').each(function () {
                var physicianRegionId = $(this).attr('data-region-id'); // Get the physician's region ID

                // Check if selected region ID is empty or matches the physician's region ID
                if (selectedRegionId === '' || physicianRegionId === selectedRegionId) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        $('#regiondrop').change(function () {
            var selectedRegion = $(this).val(); // Get the selected dropdown value
            $('tbody tr').each(function () {
                var region = $(this).find('td:eq(0)').text(); // Get the text of the second cell (Region)
                if (selectedRegion === '' || region === selectedRegion) { // Check for exact match
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
        $('#regiondrop').change(function () {
            var selectedRegion = $(this).val(); // Get the selected dropdown value
            $('.accordion-item').each(function () {
                var region = $(this).find('#acrregion').text(); // Get the text of the second cell (Region)
                if (selectedRegion === '' || region === selectedRegion) { // Check for exact match
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        $('.filterButton').click(function () {
            var requestorFilter = $(this).data('requestor'); // Get the requestor value from the button's data attribute
            $('tbody tr').each(function () {
                if (requestorFilter === 'all' || $(this).find('td:eq(3)').text().toLowerCase() === requestorFilter.toLowerCase()) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("AddScript", required: false)
        }
        


    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#dvCustomers").html());
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
