
@{
    ViewData["Title"] = "SubmitReq";
    Layout = "~/Views/Shared/_reqFormLayout.cshtml";
}
<div class="backbtn">
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="first">
        <img class="backbtnimg"
             src="/images/up-arrow-svgrepo-com.svg" alt=""><span class="ntext colblue">Back</span>
    </a>
</div>
<div class="maincon">
    <h2>I am a..</h2>
    <a asp-area="" asp-controller="ReqForm" asp-action="Patient" class="tdn alert alert-primary mcbox" role="alert">
        PATIENT
    </a>
    <a asp-area="" asp-controller="ReqForm" asp-action="family" class="tdn alert alert-success mcbox" role="alert">
        FAMILY/FRIEND
    </a>
    <a asp-area="" asp-controller="ReqForm" asp-action="Concierge" class="tdn alert alert-info mcbox" role="alert">
        CONCIERGE
    </a>
    <a asp-area="" asp-controller="ReqForm" asp-action="Business" class="tdn alert alert-warning mcbox" role="alert">
        BUSINESS PARTNER
    </a>
</div>


