@model halloDocEntities.ViewDataModels.patientLogin;
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="back">

    <a class="tdn cp backbtn" asp-area="" asp-controller="Home" asp-action="first">
        <i class="bi bi-caret-left-fill"></i><span class="ntext">back</span>
    </a>


</div>
<div class="mrcon">
    <div class="mrhead" id="mrhead">Login To Your Account</div>
    <form asp-action="Index" class="mrcform">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-floating mb-3">
            <input asp-for="Email" type="email" class="form-control mrcfin" id="floatingInput"
                   placeholder="name@example.com">
            <label class="inlab" for="floatingInput">Email address</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Password" type="password" class="form-control mrcpass" id="floatingPassword"
                   placeholder="Password">
            <label class="inlab" for="floatingPassword">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-primary mb-3 loginbtn" type="submit">Login</button>
        </div>

        @Html.ValidationMessage("wrong", null, new { @class= "text-danger fw-bold"})
        @Html.ValidationMessage("NotFound", null, new { @class= "text-danger fw-bold"})


    </form>
    <a class="forpw ntext cp" asp-area="" asp-controller="Home" asp-action="Privacy">Forgot Password?</a>
</div>


@section Homescripts{

    <script type="text/javascript">
        
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () {
            null
        };
    </script>
}