

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 0.5px solid red;*/
}

:root {
    --blue: #68cbe1;
    --nblue: #55b2bc;
    --white: #ffffff;
    --pdark: #272233f0;
    --sdark: #2A2438;
    --darkpur: #310A5D;
    --lightpur: #411E8F;
    --clasicwhite: #d3d2d2;
}

.tdn {
    text-decoration: none;
}

    .tdn:hover {
        text-decoration: none;
    }

.cp {
    cursor: pointer;
}

.anav {
    margin-inline: auto;
    width: 98%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /*border-bottom: 1px solid gray;*/
}

.anavchild {
    height: 100%;
    width: fit-content;
    margin-inline: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: black;
}

.ncactive {
    color: var(--blue);
    border-bottom: 3px solid var(--blue);
}

.admain {
    width: 100%;
    min-height: 73vh;
    height: fit-content;
    background-color: #e9e9e9a3;
}

.container1 {
    width: 100%;
    height: fit-content;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 16%;
    font-weight: 700;
    border-radius: 10px;
    font-size: 1.2rem;
    opacity: 0.7;
    transition-duration: 0.2s;
    text-decoration: none;
}

    .card:hover {
        text-decoration: none;
    }

.cactive {
    scale: 1.02;
    filter: contrast(0.9);
    opacity: 1;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 9px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid;
}
/*border: 2px solid red;*/
}

/*.card:active {
        filter: contrast(5);
        opacity: 1;
    }*/
#2 {
    border: 2px solid blue;
}

.partialv {
    width: 100%;
}

.btn1 {
    border-radius: 3px;
    background-color: #04b9e9;
    border: none;
    color: white;
}

    .btn1 a {
        color: white;
        text-decoration: none;
    }

.d-card1 {
    color: #2727ede8;
    background-color: #5555e19e;
}

.d-card2 {
    color: #005fae;
    background-color: #00b6ff47;
}

.d-card3 {
    color: green;
    background-color: rgb(178 255 178 / 44%);
}

.d-card4 {
    color: rgb(243 55 227 / 91%);
    background-color: rgba(251, 200, 245, 0.506);
}

.d-card5 {
    color: #096c8bb5;
    background-color: #02a4ff29;
}

.d-card6 {
    color: purple;
    background-color: #a78ed975;
}

.adcardimg {
    fill: green;
}



.middleSearch {
    justify-content: space-between;
}

.circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    align-items: baseline;
}

.blue {
    background-color: #7ba7ed;
}

.purple {
    background-color: #e3e33c;
}

.red {
    background-color: #e08995;
}

.orange {
    background-color: #d454d6e0;
}

.pink {
    background-color: lawngreen;
}

table {
    font-size: 0.9rem;
    font-weight: 500;
    /*min-width: 93.52vw;*/
    width: 100% !important;
}

.tableparent {
    width: 99%;
    margin-inline: 0.5%;
}


thead th {
    padding: 1rem !important;
}

th, td {
    white-space: wrap;
}

thead .th-phone {
    min-width: 11rem;
}

thead .th-chat {
    min-width: 7rem;
}

thead .th-action {
    width: 6rem;
}

thead .th-name {
    min-width: 9rem;
}

thead .th-address {
    min-width: 10rem;
}

thead .th-notes {
    width: 15rem;
}
/*thead .th-name {
    width: 14rem;
    min-width: 9rem;
}

thead .th-date {
    min-width: 8rem;
}

thead .th-request {
    width: 11rem;
}

thead .th-requestDate {
    width: 14.5rem;
}

thead .th-phone {
    width: 12.5rem;*/
/* min-width: 12.5rem; */
/*min-width: fit-content;
}

thead .th-address {
    width: 14rem;*/
/* min-width: 9.5rem; */
/*min-width: fit-content;
}

thead .th-notes {
    width: 15rem;*/
/* min-width: 10rem; */
/*min-width: fit-content;
}

thead .th-chat {
    width: 8rem;*/
/* min-width: fit-content; */
/*min-width: 7rem;
}

thead .th-action {
    width: 5.5rem;
}*/
tbody .icon-phone, .icon-Ehome, .icone-Chome, .action {
    border-radius: 5px;
    padding: 2px 8px;
    border: 1px solid;
}

tbody tr {
    min-height: 70px;
}

    tbody tr td {
        /*background-color: aquamarine !important;*/
    }

.dropdown-menu .d-item:hover {
    background-color: #d4d0d0cb !important;
}

.dropdown-menu {
    background-color: #f1efef;
}

/*drop-down --------------------------*/
a {
    text-decoration: none;
    color: #000000;
}

    a:hover {
        color: #222222
    }

/* Dropdown */

.dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 26px 3px 5px;
    /* background-color: #ffffff; */
    cursor: pointer;
    white-space: nowrap;
}

    .dd-button:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
    }

    .dd-button:hover {
        background-color: #eeeeee;
    }


.dd-input {
    display: none;
}

.dd-menu {
    z-index: 500;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0;
    margin: 0px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dd-input + .dd-menu {
    display: none;
}

.dd-input:checked + .dd-menu {
    display: block;
}

.hidden {
    display: none;
}

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

    .dd-menu li:hover {
        background-color: #f6f6f6;
    }

    .dd-menu li a {
        display: block;
        margin: -10px -20px;
        padding: 10px 20px;
    }

    .dd-menu li.divider {
        padding: 0;
        border-bottom: 1px solid #cccccc;
    }

.modal-header {
    background-color: var(--blue);
    color: white;
}

/*-------------view case-------------*/

.casemain {
    width: 70%;
    margin-inline: auto;
    min-height: 70vh;
    height: fit-content;
    background-color: #ebebeb91;
    border-radius: 10px;
}

.notedata {
    background-color: white;
    /*border:0.5px solid gray;*/
    box-shadow: 2px 2px 4px gray;
    min-height: 100px;
    height: fit-content;
    border-radius: 5px;
    width: 46%;
}

.btnbadge {
    width: 40%;
    margin-inline: 5%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
}

.form-check-input {
    border: 1px solid var(--blue) !important;
}
.form-check-input:checked{
    background-color: var(--blue) !important;
    border-color:var(--blue) !important;
}

@media screen and (max-width : 1200px) {
    .tableparent {
        overflow: scroll;
    }

    th, td {
        white-space: nowrap;
        word-break: keep-all;
    }

    .card-body {
        padding: 0;
    }

    /*.card {
        font-weight: 600;
        border-radius: 10px;
        font-size: 1rem;
        padding: 1%;
        padding-inline: 0;
    }*/
    .container1 {
        flex-wrap: wrap;
    }

    .card {
        width: 30% !important;
        font-weight: 600;
        border-radius: 10px;
        margin: 1%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-inline: 2%;
    }
    .notedata{
        width:45%;
    }
    .casemain{
        width:90%;
    }
}





@media screen and (max-width : 768px) {
    .container1 {
        flex-wrap: wrap;
    }

    .anav {
        display: none;
    }

    .card {
        width: 30% !important;
        font-weight: 600;
        border-radius: 10px;
        font-size: 0.9rem;
        margin: 1%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-inline: 1%;
    }

    .adcardimg {
        scale: 0.8;
    }

    .btn1 a {
        display: none;
    }

    table {
        display: none;
    }

    .middleSearch {
        flex-direction: column;
    }

    .MS-left {
        width: 100% !important;
        flex-direction: column !important;
    }

    .d-searchbar {
        width: 95% !important;
    }

    .btn-group {
        gap: 0.5rem;
    }

    .pbox {
        flex-direction: column;
        padding-inline: 2px;
        font-size: small;
        justify-content: center;
        align-items: center;
    }

        .pbox:nth-child(1) {
            display: none !important;
        }

    .casemain {
        width: 96%;
    }

    .notedata {
        width: 96%;
    }
}
